#myCanvas {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius:30px ;
    background-color: white;
}

h1 {
    font-size: 50px;
    color:lightgreen;
}

body{
    background-color: #778beb;
    font-family: 'Agbalumo';font-size: 22px;
    text-shadow: 3px 3px 3px grey;
}

button{
    border-width:10px ;
    border-radius:40px;
    width:150px;
    height:50px;
    font-size: 15px;
    font-weight: bold;
}

